body {
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe !important;
}

.content-wrapper {
  max-width: 1440px;
  margin-right: auto !important;
  margin-left: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #899707 !important;
}

.off {
  color: #ccc !important;
}


.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.order-table {
  border-collapse: separate !important;
  border-spacing: 0 1em !important;
}

.order-table td {
  border-width: 1px 0;
  border-color: gainsboro;
  border-style: solid;
}

.order-table td:first-child {
  border-left-width: 1px;
  border-radius: 5px 0 0 5px;
}

.order-table td:last-child {
  border-right-width: 1px;
  border-radius: 0 5px 5px 0;
}

.product-horizontal-rule {
  margin-top: 7px;
  width: 97% !important;
  margin: auto !important;
}
